@font-face {
     font-family: Montserrat;
     src: url(Montserrat-Bold.ttf);
     font-weight: bold;
}

.song-container {
     display: flex;
     justify-content: center;
     align-items: center;
     container-type: inline-size;
}

song {
     text-align: center;
     color: #ffffff;
     font-size: 4cqw;
     font-family: Montserrat;
     font-weight: bold;
     text-shadow: 0 0 20px #0008;
}

.image-content {
     position: fixed;
     width: inherit;
     height: inherit;
     background: #000;
     left: inherit;
     top: inherit;
     object-fit: contain;
     z-index: 100;
}

video {
     left: inherit;
     top: inherit;
     width: inherit;
     height: inherit;
     position: fixed;
}