/* ---------------------------------------- Screens area and dock layouts */

.screen-area {
    background-color: #000;
    border-radius: 8px;
    transition: .3s;
}

.dock-right {
    position: fixed;
    top: 100px;
    right: 0;
}

.dock-right.vp40 {
    width: 60%;
    height: 60%;
}

.dock-right.vp75 {
    width: 25%;
    top: 148px;
    height: calc(50% - 210px);
}

.dock-right.vp0 {
    top: 0;
    width: 100%;
    height: 100%;
}

.dock-left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

.dock-left.vp0 {
    width: 0;
}

.dock-left.vp40 {
    width: 40%;
}

.dock-left.vp75 {
    width: 75%;
}

.next-screen {
    position: fixed;
    left: 16px;
    bottom: 16px;
    width: 25%;
    height: calc(50% - 210px);
    overflow: hidden;
    transition: .3s;
}

.next-screen.vp40 {
    left: 40%;
    bottom: 0;
}

.next-screen.vp75 {
    left: 75%;
    bottom: 148px;
}

.screen-area-label {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1px 8px;
    padding: 2px 8px;
    width: 100px;
    background: #444;
    box-shadow: #0005 0px 3px 8px 0px;
    border-radius: 16px;
    text-align: center;
    transition: .3s;
}

.dock-right.vp0>.screen-area-label {
    scale: 0;
}