:root {
     --color-bcg: #111111;
     --color-text: #eee;

     --color-red: #ff3725;
     --color-green: #45e700;
}

body {
     margin: 0;
     background-color: #111111;
}

.app-main {
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     display: flex;
}

/* ---------------------------------------- Scrollbar */

*::-webkit-scrollbar {
     width: 12px;
}

*::-webkit-scrollbar-track {
     background: transparent;
}

*::-webkit-scrollbar-thumb {
     background-color: #aaa;
     border-radius: 20px;
     border: 3px solid white;
}

/* ---------------------------------------- Screens */

.fill {
     position: fixed;
     left: inherit;
     top: inherit;
     width: inherit;
     height: inherit;
}

.screen {
     position: fixed;
     left: inherit;
     top: inherit;
     width: inherit;
     height: inherit;
     z-index: 2;
     opacity: 0;
     transition: opacity 0.5s;
}

.hiding {
     z-index: 1;
}