body {
     color: var(--color-text);
     font-family: system-ui;
     font-size: 18;
}

.status-display-floating {
     position: absolute;
     left: 50cqw;
     bottom: 10cqw;
     translate: -50%;
     display: flex;
     gap: 41px;
     animation-name: fade-in;
     animation-duration: 1s;
}

.list-container {
     display: flex;
     flex-direction: column;
     gap: 5px;
     translate: 10px;
}

.list-header {
     font-weight: bold;
     translate: -10px;
}

.separatorV {
     width: 1px;
     background: var(--color-text);
}

/* ---------------------------------------- Widgets container */

.tool-widget {
     position: absolute;
     right: 64px;
     top: 0;
     width: 150px;
     height: 50px;
     margin: 16px;
     padding: 0 0 0 16px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-radius: 8px;
     background: #444;
     box-shadow: #0005 0px 3px 8px 0px;
     transition: .3s;
     overflow: hidden;
}

.tool-widget-clock {
     font-size: 28px;
     white-space: nowrap;
     letter-spacing: 1px;
     margin-left: 20px;
     transition: .3s;
}

.tool-widget-battery {
     display: flex;
     width: 50px;
     height: 20px;
     margin-left: 8px;
     border: white solid 3px;
     border-radius: 8px;
     overflow: hidden;
}

.tool-widget-battery::before {
     content: "";
     position: absolute;
     width: 5px;
     height: 10px;
     background: white;
     translate: -6px 5px;
     border-radius: 8px;
}

.tool-widget-battery-fill {
     height: 100%;
     background: white;
}

.tool-widget-battery-fill.low {
     background: red;
}

.tool-widget-battery-fill.charge {
     background: #40a7e5;
}

.tool-widget-battery-text {
     display: flex;
     flex-direction: column;
     font-size: 10px;
     white-space: nowrap;
}

/* ---------------------------------------- Buttons */

button {
     margin: 16px;
     border-radius: 8px;
     border: none;
     background-color: #444;
     background-repeat: no-repeat;
     background-position: center;
     background-size: 25px 25px;
     box-shadow: #0005 0px 3px 8px 0px;
     transition: .3s;
}

button:active {
     outline: none;
     filter: brightness(1.4);
}

button.option {
     margin: 8px;
     padding: 18px 18px 18px 64px;
     text-align: left;
     white-space: nowrap;
     background-color: #ccc;
     background-position: 16px center;
     box-shadow: none;
}

button.option.cancel {
     background-image: url('../img/icons/close-r.svg');
}

button.dialog {
     margin: 8px;
     padding: 16px;
     white-space: nowrap;
     background-color: #ccc;
     background-position: 16px center;
     box-shadow: none;
}

.notes-open-button {
     position: fixed;
     top: 0;
     left: 0;
     width: 50px;
     height: 50px;
     background-image: url('../img/icons/notes.svg');
}

.notes-back-button {
     position: fixed;
     top: 58px;
     left: 0;
     width: 50px;
     height: 50px;
     background-image: url('../img/icons/menu.svg');
}

.notes-add-button {
     position: fixed;
     bottom: 0;
     left: 0;
     width: 50px;
     height: 50px;
     background-image: url('../img/icons/add.svg');
}

.notes-dark-button {
     position: fixed;
     bottom: 0;
     left: 0;
     width: 50px;
     height: 50px;
     background-image: url('../img/icons/dark.svg');
}

.notes-close-button {
     position: fixed;
     top: 0;
     left: 0;
     width: 50px;
     height: 50px;
     background-image: url('../img/icons/close.svg');
     background-color: #bd3b3b;
}

.notes-ratio-switcher {
     position: fixed;
     top: calc(50% - 40px);
     width: 50px;
     height: 80px;
     margin: 4px;
     background-size: 40px 40px;
}

.notes-ratio-switcher.vp0 {
     opacity: 0;
     translate: -50px;
}

.notes-ratio-switcher.vp40 {
     background-image: url('../img/icons/resize75.svg');
     translate: calc(40vw - 32px);
}

.notes-ratio-switcher.vp75 {
     background-image: url('../img/icons/resize40.svg');
     translate: calc(75vw - 32px);
}

.controls-next-button {
     position: fixed;
     bottom: 0;
     right: 0;
     width: 100px;
     height: 80px;
     background-image: url('../img/icons/next.svg');
     background-color: #30bf3d;
}

.controls-previous-button {
     position: fixed;
     bottom: 0;
     right: 116px;
     width: 80px;
     height: 80px;
     background-image: url('../img/icons/prev.svg');
}

.controls-black-button {
     position: fixed;
     top: 0;
     right: 0;
     width: 50px;
     height: 50px;
     background-image: url('../img/icons/black.svg');
}

.tool-widget-switch {
     width: 50px;
     height: 50px;
     margin: 0;
     background-image: url('../img/icons/switch.svg');
     box-shadow: none;
}


/* ---------------------------------------- Dialog */

.dialog-mask {
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     z-index: 100;
     background: #0009;
     backdrop-filter: blur(9px);
     transition: 0.3s;
     animation-name: fadeIn;
     animation-duration: 0.3s;
}

.dialog-window {
     position: absolute;
     left: 50%;
     top: 50%;
     min-width: 512px;
     max-height: 70%;
     translate: -50% -50%;
     display: flex;
     flex-direction: column;
     background: #fff;
     color: #000;
     border-radius: 8px;
     box-shadow: #0005 0px 3px 8px 0px;
     z-index: 101;
}

.dialog-header {
     margin: 20px;
     font-size: 25px;
}

.dialog-list-container {
     display: flex;
     flex-direction: column;
     margin-right: 16px;
     overflow-y: auto;
}

.waiting {
     margin: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.waiting-dot {
     width: 10px;
     height: 10px;
     margin: 0 5px;
     background: #000;
     border-radius: 50%;
     transition: .5s;
}

/* ---------------------------------------- Notes panel */

.notes-panel {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     transition: .3s;
}

.notes-panel-content {
     display: flex;
     flex-direction: column;
     background-color: #fff;
     border-radius: 8px;
     margin: 8px;
     height: 100%;
     overflow-y: scroll;
}

.notes-page {
     width: 100%;
}

.notes-item {
     margin: 8px 8px 0 66px !important;
     background-image: url('../img/icons/pdf.png');
}

.notes-source-file {
     background-image: url('../img/icons/pdf.png');
}

.notes-source-lp {
     background-image: url('../img/icons/lp.svg');
}

.notes-panel.dark-mode>.notes-panel-content {
     background-color: #2d2d2d;
}

.notes-panel.dark-mode>.notes-panel-content>.notes-page {
     filter: invert(1) contrast(0.65) hue-rotate(180deg) saturate(3);
}

.notes-panel.dark-mode>.notes-panel-content::-webkit-scrollbar-thumb {
     background-color: #aaa;
     border-radius: 20px;
     border: 3px solid #2d2d2d;
}

/* ---------------------------------------- Animations */

@keyframes fadeIn {
     0% {
          opacity: 0;
     }

     100% {
          opacity: 1;
     }
}

@keyframes fadeOut {
     0% {
          opacity: 1;
     }

     100% {
          opacity: 0;
     }
}