<video id='vid' controls autoplay="">
  <source src="movie.mp4" type="video/mp4">
</video>

<script>
    setTimeout(() => {
        document.getElementById('vid').muted = true;
        document.getElementById('vid').play()
        //document.getElementById('vid').muted = false;
    }, 5000);
</script>
