<meta charset="UTF-8">
<style>
    @font-face {
        font-family: Montserrat;
        src: url(Montserrat-Bold.ttf);
        font-weight: bold;
    }
    body {
        margin: 0;
        background: #ffffff;
    }
    video {
        width: 100vw;
        height: 100vh;
    }
    #image {
        position: absolute;
        width: 100vw;
        height: 100vh;
        left:0;
        top:0;
        object-fit: contain;
        opacity: 0;
        transition: opacity 0.5s;
    }
    song {
        text-align: center;
        position: absolute;
        width: 100vw;
        top: 50%;
        transform: translateY(-50%);
        color: #000000;
        font-size: 4vw;
        font-family: Montserrat;
        font-weight: bold;
        transition: opacity 0.5s;
    }
    black {
        position:fixed;
        background: #000000;
        width: 100vw;
        height: 100vh;
        left:0;
        top:0;
        z-index: 100;
        opacity: 0;
        transition: opacity 0.5s;
    }
</style>
<script>
    /*var videoList = new Map()
    var videoPlayers = new Map()*/

    /*setInterval(function(){
        // update video list
        fetch('/videolist').then(res => res.json()).then(out => {
            //console.log(out.length)
            for(var i=0; i<out.length;i++) {
                var id = out[i].id
                var url = out[i].url
                videoList.set(id, url)
                // if player for this video doesn't exists, create one
                if(!videoPlayers.has(url)) {
                    var video = document.createElement('video')
                    video.preload = 'auto'
                    video.autoplay = false
                    video.src = document.location.protocol + "//" + document.location.hostname + ':8000/' + out[i].id
                    videoPlayers.set(url, video)
                    video.controls = true
                    /*video.height = 100
                    video.width = 320*/
                    /*video.load()
                    video.hidden = true;
                    //add video frame to body (just for testing)
                    video.volume = 0
                    document.body.appendChild(video)
                }
            }
        })
    }, 200)*/


    var lastText = "";
    var current = ""
    var lastUpdate = 0;

    function setSong(text) {
        console.log("setting song",current)
        if(lastText != text) {
            document.getElementById('song').innerHTML = text
            lastText = text
        }
        if(current != 'song') {
            document.getElementById('image').style.opacity = 0
            document.getElementById('black').style.opacity = 0
            setTimeout(function (){
                document.getElementById('song').style.opacity = 1
            }, 500);
        } else {
            document.getElementById('image').style.opacity = 0
            document.getElementById('song').style.opacity = 1
            document.getElementById('black').style.opacity = 0
        }
        current = 'song';
    }

    function setImage() {
        var d = new Date();
        document.getElementById('image').src = document.location.origin + '/img&' + Date.now();
        document.getElementById('song').style.opacity = 0
        document.getElementById('black').style.opacity = 0
        setTimeout(function (){
            if(current == 'image') document.getElementById('image').style.opacity = 1
        }, 500);
        current = 'image';
    }

    function setVideo() {
        /*document.getElementById('song').style.opacity = 0
        document.getElementById('image').style.opacity = 0
        document.getElementById('black').style.opacity = 0
        fetch('/video/current').then(res => res.json()).then(out => {
            if(out.display == 'true') {
                //console.log(videoPlayers.get(out.video))
                videoPlayers.get(out.video).hidden = false
                videoPlayers.get(out.video).play()
            }
        })
        current = 'video';*/
    }

    setInterval(function(){
        // check content
        fetch('/content').then(res => res.json()).then(out => {
            if(out.display == 'image') {
                // if content is being displayed
                if(lastUpdate != out.update && out.content == 'song') {
                    // if content type = song, get song text
                    fetch('/song/current').then(res => res.json()).then(out => {
                        if(out.display == 'true') {
                            setSong(out.text)
                        }
                    })
                } else if(lastUpdate != out.update && out.content == 'image') {
                    // if content type = image, create image from /img
                    setImage()
                } else if(lastUpdate != out.update && out.content == 'video') {
                    // if content type = video, show video
                    setVideo()
                }
            } else if(lastUpdate != out.update && out.display == 'empty') {
                // if empty screen is being displayed
                document.getElementById('song').style.opacity = 0
                document.getElementById('black').style.opacity = 0
                current = 'empty';
            } else if(lastUpdate != out.update && out.display == 'black') {
                // if black screen is being displayed
                document.getElementById('song').style.opacity = 0
                document.getElementById('black').style.opacity = 1
                current = 'black';
            }
            lastUpdate != out.update;
        })
    }, 200);

</script>
<img id='image' src='/img'/>
<song id='song'></song>
<black id='black'/>
