<meta charset="UTF-8">
<style>
    @font-face {
        font-family: Montserrat;
        src: url(Montserrat-Bold.ttf);
        font-weight: bold;
    }
    body {
        margin: 0;
        background: #ffffff;
    }
    song {
        text-align: center;
        position: absolute;
        width: 100vw;
        top: 50%;
        transform: translateY(-50%);
        color: #000000;
        font-size: 4vw;
        font-family: Montserrat;
        font-weight: bold;
        transition: opacity 0.5s;
    }
    black {
        position:fixed;
        background: #000000;
        width: 100vw;
        height: 100vh;
        left:0;
        top:0;
        z-index: 100;
        opacity: 0;
        transition: opacity 0.5s;
    }
</style>
<script>
    var lastText = "";

    setInterval(function(){
        // check content
        fetch('/content').then(res => res.json()).then(out => {
            if(out.display == 'image') {
                // if content is being displayed
                if(out.content == 'song') {
                    // if content type = song, get song text
                    fetch('/song/current&lng=en').then(res => res.json()).then(out => {
                        if(out.display == 'true') {
                            if(lastText != out.text) {
                                document.getElementById('song').innerHTML = out.text
                                lastText = out.text
                            }
                            document.getElementById('song').style.opacity = 1
                            document.getElementById('black').style.opacity = 0
                        }
                    })
                }
            } else if(out.display == 'empty') {
                // if empty screen is being displayed
                document.getElementById('song').style.opacity = 0
                document.getElementById('black').style.opacity = 0
            } else if(out.display == 'black') {
                // if black screen is being displayed
                document.getElementById('song').style.opacity = 0
                document.getElementById('black').style.opacity = 1
            }
        })
    }, 200);
</script>
<song id='song'></song>
<black id='black'/>
