<meta charset="UTF-8">
<style>
    @font-face {
        font-family: Montserrat;
        src: url(Montserrat-Bold.ttf);
    }
    body {
        margin: 0;
        background: #ffffff;
        font-family: Montserrat;
    }
    p {
        margin: 0.3em;
        margin-left: 0.5em;
        padding-left: 0.5em;
        border-left: 7px solid #0000;
    }
    .selected {
        border-left: 7px solid #f22;
        padding-left: 1em;
        font-weight: bold;
    }
    .element {
        margin: 1em;
        border-left: 7px solid #0000;
    }
    .Z {
        border-left: 7px solid #777;
    }
    .R {
        border-left: 7px solid #68f;
    }
    .B {
        border-left: 7px solid #f22;
    }
    .P {
        border-left: 7px solid #3e3;
    }
    .U {
        border-left: 7px solid #e8f;
    }
</style>
<script>
    
    var lastText = "";
    var lastUpdate = 0;

    function setSong(song, selected) {
        let container = document.getElementById("main-container");
        container.innerHTML = "";
        
        let lastMarker = "";
        let currentSegment = undefined;
        
        
        for(var i=0; i<song.items.length; i++) {
            let name = song.items[i].name;
            let text = song.items[i].text;
            
            if(lastMarker != name) {
                currentSegment = document.createElement("div");
                if(name.substring(0,1) == 'Z')
                    currentSegment.className = "element z"
                else if(name.substring(0,1) == 'R')
                    currentSegment.className = "element R"
                else if(name.substring(0,1) == 'B')
                    currentSegment.className = "element B"
                else if(name.substring(0,1) == 'P')
                    currentSegment.className = "element P"
                else
                    currentSegment.className = "element U"
                    
                container.appendChild(currentSegment);
            }
            let textP = document.createElement("p");
            if(text == selected) textP.className = "selected"
            textP.innerHTML = text;
            currentSegment.appendChild(textP);
            
            lastMarker = name;
        }
    }

    setInterval(function(){
        // check content
        fetch('/content').then(res => res.json()).then(out => {
            // if content is being displayed
            if(lastUpdate != out.update && out.content == 'song') {
                // if content type = song, get song text
                fetch('/song/full').then(res => res.json()).then(songText => {
                    fetch('/song/current').then(res => res.json()).then(out => {
                        if(out.display == 'true') {
                            setSong(songText, out.text);
                        }
                    })
                })
            }
            lastUpdate = out.update;
        })
    }, 200);

</script>
<div id="main-container"></div>
