
<script>
    var videoList = new Map()
    var videoPlayers = new Map()

    setInterval(function(){
        // update video list
        fetch('/videolist').then(res => res.json()).then(out => {
            //console.log(out.length)
            for(var i=0; i<out.length;i++) {
                var id = out[i].id
                var url = out[i].url
                videoList.set(id, url)
                // if player for this video doesn't exists, create one
                if(!videoPlayers.has(id)) {
                    var video = document.createElement('video')
                    video.preload = 'auto'
                    video.autoplay = false
                    video.src = document.location.protocol + "//" + document.location.hostname + ':8000/' + out[i].id
                    videoPlayers.set(id, video)
                    //add video frame to body (just for testing)
                    document.body.appendChild(video)
                    video.controls = true
                    video.height = 240
                    video.width = 320
                    video.load()
                }
            }
        })
    }, 200)
</script>
<body>

</body>