body {
     color: var(--color-text);
     font-family: system-ui;
     font-size: 18;
}

.status-display-floating {
     position: absolute;
     left: 50cqw;
     bottom: 10cqw;
     translate: -50%;
     display: flex;
     gap: 41px;
     animation-name: fade-in;
     animation-duration: 1s;
}

.list-container {
     display: flex;
     flex-direction: column;
     gap: 5px;
     translate: 10px;
}

.list-header {
     font-weight: bold;
     translate: -10px;
}

.separatorV {
     width: 1px;
     background: var(--color-text);
}

@keyframes fade-in {
     from {
          opacity: 0;
     }

     to {
          opacity: 1;
     }
}